{% extends "accounts/base.html" %}

{% block content %}

<div class="">

    <!--Login Form Start Here-->
    <form method="post" class="fs-5 bg-body-tertiary p-4 shadow mb-5 rounded" style="width: 350px; height: 25%; margin: 0 auto; margin-top: 10%; background-color: #f4f4f9;">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="form-check mt-3">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
        <p><input type="submit" class="btn btn-warning btn-md mt-4 w-100 rounded" value="Log in"></p>
        <div class="bottom-links mt-3 fs-6">
            <a href="#" style="color: #007bff;">Forgot Password?</a> | 
            <a href="{% url "accounts:register" %}" style="color: #007bff;">Do not have account yet?</a>
        </div>
    </form>
    <a href="{% url "index" %}" class="btn btn-primary m-4 ">Back Home </a>  
    <div> 
{% endblock content %}