{% extends 'accounts/base.html' %}

{% block title %}<title>Sign-up</title>{% endblock %}
{% block content %}
<div class="">
    <div class="fs-5 bg-body-tertiary shadow rounded px-3 py-1 mb-1 text-center"style="width: 450px; height: 25%; margin: 0 auto; margin-top: 10%; background-color: #f4f4f9;"><h4>Create an account</h4></div>
 <!--Login Form Start Here-->
 <form method="post" class="fs-5 bg-body-tertiary p-4 shadow mb-5 rounded fs-6" style="width: 450px; height: 25%; margin: 0 auto; background-color: #f4f4f9;">
    {{ user_form.as_p }}
    {% csrf_token %}
    <div class="form-check mt-3">
        <input type="checkbox" class="form-check-input" id="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember Me</label>
    </div>
    <p><input type="submit" class="btn btn-warning btn-md mt-4 w-100 rounded" value="Submit"></p>
    <div class="bottom-links mt-3 fs-6">
        
        <a href="{% url "accounts:login" %}" style="color: #007bff;">Already have account? login</a>
    </div>
</form>
<a href="{% url "core:index" %}" class="btn btn-primary m-4 ">Back Home </a>  
 <div>
{% endblock %}