<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">90north</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column" style="height: 100vh;">
    {% if request.user.is_authenticated %}
      <h4>Welcome, {{ request.user.username }}</h4>
      <div class="col-auto">
        <a href="{% url 'accounts:logout' %}" class="btn bg-body-secondary">Logout</a>
      </div>
      {% else %}
       <div class="row d-flex justify-content-between">
      <div class="col-auto">
        <a href="{% url 'accounts:register' %}" class="btn btn-warning">Signup</a>
      </div>
      <div class="col-auto">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
      </div>
    </div>
    {% endif %}
  
    
    <!-- Copyright Footer -->
    <div class="mt-auto text-center py-3">
      <small>&copy; 2025 90north. All Rights Reserved.</small>
    </div>
  </div>
</div>
